fastapi
uvicorn
jinja2
python-multipart

pandas
numpy
scikit-learn
joblib

playwright

httpx
beautifulsoup4
lxml
tldextract
dnspython

sqlalchemy
pymysql

pydantic
pydantic-settings
python-dotenv

pytest
pytest-asyncio

matplotlib
cryptography